$primary-color: #181826;
$secondary-color: #112134;
$theme-color: #4945FF;
$theme-secondary-color: #7B79FF;
$danger-color: #BD0101;
$green-color: #3BD16F;
$opposite-color: #f5f5f5;
$opposite-secondary-color: #A5A5AD;
$primary-transparent-color: #181826AA;

$border-color: #A5A5AD55;

$small-border-radius: 5px;

$ex-large-font-size: 28px;
$large-font-size: 18px;
$header-font-size: 14px;
$small-font-size: 12px;
